*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* BACKGROUND SITE RULES  */
.background-site{
    position: relative;
    height: 100vh;
}

.background-top{
    background-color: #00A884;
    height: 15%;
}

.background-bottom{
    background-color: #E1E1DE;
    height: 85%;
}


/* GENERAL CONTAINER RULES */
.general-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    height: 90%;
    width: 75%;
    display: flex;
}


/* CONTACT SECTION RULES  */
.contact-section{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.my-info{
    height: 50px;
    background-color: #F0F2F5;
}

.notification{
    height: 80px;
    background-color: #53BDEB;
}

.search-chat{
    height: 35px;
    background-color: #FFFFFF;
}

.contacts{
    flex-grow: 1;
    background-color: #FFFFFF;
}



/* CHAT SECTION RULES  */
.chat-section{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    border-left: 1px solid #D1D7DB;
}

.contact-information{
    height: 50px;
    background-color: #F0F2F5;
}

.chat{
    flex-grow: 1;
    background-color: #F0ECE5;
}

.write-bar{
    height: 50px;
    background-color: #F0F2F5;
}