*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width:  100%;
}

ul, ol{
    list-style: none;
}

.avatar{
    border-radius: 50%;
    overflow: hidden;
    width: 49px;
    height: 49px;
}

.avatar-small{
    height: 40px;
    width: 40px;
}

.search-chat{
    border-bottom: 1px solid #E9EDEF;
    padding: 7px 10px;
}

.input{
    border-radius: 8px;
    line-height: 35px;
    padding: 0 20px;
    border: none;
    width: 100%;
}


/* BACKGROUND SITE RULES  */
.background-site{
    position: relative;
    height: 100vh;
}

.background-top{
    background-color: #00A884;
    height: 15%;
}

.background-bottom{
    background-color: #E1E1DE;
    height: 85%;
}


/* GENERAL CONTAINER RULES */
.general-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    height: 90%;
    width: 75%;
    display: flex;
}


/* CONTACT SECTION RULES  */
.contact-section{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 300px;
    height: 100%;
}

.my-info{
    height: 50px;
    background-color: #F0F2F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.my-info-menu{
    display: flex;
    gap: 30px;
    padding-right: 20px;
    color: #54656F;
    font-size: 18px;
}

.notification{
    height: 80px;
    background-color: #53BDEB;
    display: flex;
    align-items: center;
}

.notification .avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #53BDEB;
    margin: 0 10px;
    font-size: 18px;
}

.text-big{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 4px;
}

.text-small{
    font-size: 13px;
    color: #111B21;
}

.text-small i{
    font-size: 10px;
    color: #111B21;
}

.search-chat{
    height: 50px;
    background-color: #FFFFFF;
}

.input-search{
    padding-left: 45px;
    background-color: #F0F2F5;
}

.input-controls{
    position: relative;
}

.input-controls button{
    position: absolute;
    border: none;
    background-color: transparent;
    color: #8E9AA1;
    left: 13px;
    top: 50%;
    transform: translateY( -50% );
    width: 18px;
    height: 18px;
}

.contacts{
    flex-grow: 1;
    background-color: #FFFFFF;
}

.contact{
    display: flex;
    align-items: center;
    gap: 14px;
    padding-left: 10px;
}

.contact-info{
    border-bottom: 1px solid #E9EDEF;
    flex-grow: 1;
    padding: 14px 0;
    font-size: 14px;
}

.contact-name{
    font-weight: 500;
}

.contact-text{
    color: lightslategrey;
    font-size: 13px;
}

.contact.active{
    background-color: #aaa;
}


/* CHAT SECTION RULES  */
.chat-section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    border-left: 1px solid #D1D7DB;
}

.active-contact{
    background-color: #F0F2F5;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active-contact-interaction{
    display: flex;
    gap: 25px;
    font-size: 18px;
    color: #54656F;
    margin-right: 25px;
}

.chat{
    flex-grow: 1;
    background-color: #F0ECE5;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.chat-messages{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.message{
    border-radius: 8px;
    padding: 7px 7px;
    font-size: 14px;
    max-width: 70%;
    position: relative;
    filter: drop-shadow( 0 1px 1px #aaa );
}

.message.send{
    background-color: #D9FDD3;
    align-self: flex-end;
    border-top-right-radius: 0;
}

.message.received{
    background-color: white;
    align-self: flex-start;
    border-top-left-radius: 0;
}

.message.send + .message.received, .message.received + .message.send{
    margin-top: 15px;
}

.message.send::before{
    content: '';
    display: none;
    position: absolute;
    border: 5px solid #D9FDD3;
    border-right-color: transparent;
    border-bottom-color: transparent;
    top: 0;
    left: 100%;
}

.message.received::before{
    content: '';
    display: none;
    position: absolute;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
    top: 0;
    right: 100%;
}

.message.send:first-child::before, 
.message.received + .message.send::before,
.message.received:first-child::before,
.message.send + .message.received::before{
    display: block;
}

.message.send:first-child, 
.message.received + .message.send{
    border-top-right-radius: 0;
}

.message.received:first-child::before,
.message.send + .message.received::before{
    border-top-left-radius: 0;
}

.write-bar{
    height: 50px;
    background-color: #F0F2F5;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

.write-bar i{
    font-size: 20px;
    color: #54656F;
}