<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>

    <div id="app">

        <!-- BACKGROUND SITE -->
        <div class="background-site">
            <div class="background-top"></div>
            <div class="background-bottom"></div>
        </div>

        <section class="general-container">

            <!-- CONTACT SECTION -->
            <section class="contact-section">
                <div class="my-info">
                    
                    <figure class="avatar avatar-small">
                        <img src="http://carismartes.com.br/assets/global/images/avatars/avatar7_big@2x.png" alt="">
                    </figure>
                    
                    <span class="my-info-menu">
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </span>
                </div>

                <div class="notification">
                    <div class="avatar avatar-small">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>

                    <div>
                        <h4 class="text-big">Ricevi notifiche di nuovi messaggi</h4>
                        <p class="text-small">Attiva notifiche desktop <i class="fa-solid fa-chevron-right"></i></p>
                    </div>
                </div>
              
                <div class="search-chat">
                    <div class="input-controls">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input type="text" class="input input-search" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>

                <ul class="contacts">
                    <li v-for="(element, index) in contacts" class="contact" 
                    @click='setActiveContact(index)'
                    :class="currentIndex == index ? 'active' : '' ">
                        <div class="contact-avatar">
                            <figure class="avatar">
                                <img :src="element.avatar" alt="">
                            </figure>
                        </div>

                        <div class="contact-info">
                            <h4 class="contact-name">{{element.name}}</h4>
                            <p class="contact-text">{{element.messages.length}}</p>
                        </div>
                    </li>
                </ul>

            </section>


            <!-- CHAT SECTION -->
            <section class="chat-section">
                <div class="active-contact">
                    <div class="contact">
                        <div class="contact-avatar">
                            <figure class="avatar avatar-small">
                                <img :src="contacts[currentIndex].avatar" alt="">
                            </figure>
                        </div>
    
                        <div class="active-contact-info">
                            <h3 class="contact-name">{{contacts[currentIndex].name}}</h3>
                            <p class="contact-text">Ultimo accesso oggi alle 9:43</p>
                        </div>
                    </div>

                    <div class="active-contact-interaction">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <div class="chat">
                    <ul class="chat-messages">
                        <li v-for="element in contacts[currentIndex].messages" 
                        class="message"
                        :class="element.status">{{element.text}}   
                        <span class="hour-message">{{ getHours( element.date ) }}</span>
                        </li>
                    </ul>
                </div>

                <div class="write-bar">
                    <i class="fa-solid fa-face-laugh"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <input type="text" class="input" placeholder="Scrivi un messaggio" 
                    @keyup.enter="sendMessage()" v-model="newSendMessage">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </section>

        </section>


    </div>

    <script src="app.js"></script>
</body>
</html>